* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1e24;
    color: #e0e0e0;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #a89bb9;
    margin-bottom: 20px;
}

.maze-container {
    display: grid;
    grid-template-areas:
        "nothing marking-horizontal"
        "marking-vertical content";
    gap: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 12px;
}

.maze,
.field-marking-horizontal,
.field-marking-vertical {
    display: grid;
    font-family:
        "JetBrains Mono", "Fira Code", "Courier New", Courier, monospace;
    font-size: 12px;

    letter-spacing: 0;

    white-space: pre;
    user-select: none;
    width: fit-content;
    height: fit-content;
}

.field-marking-horizontal,
.field-marking-vertical {
    border-radius: 14px;
    padding: 5px;
    background-color: hsla(248, 53%, 58%, .1);
    font-weight: bolder;
    margin: 0;
    text-align: center;
}

.field-marking-horizontal {
    grid-area: marking-horizontal
}

.field-marking-vertical {
    grid-area: marking-vertical
}

.grid-container {
    display: grid;
    grid-template-columns: 1rem 1fr;
}

.field-marking-horizontal>.mark:nth-child(even),
.field-marking-vertical>.mark:nth-child(even) {
    color: azure;
    background-color: hsla(250, 40%, 23%, .3);
    /*background-color: fuchsia;*/
}

.field-marking-horizontal>.mark:nth-child(odd),
.field-marking-vertical>.mark:nth-child(odd) {
    color: aquamarine;
    background-color: hsla(250, 40%, 23%, .7);
    /*background-color: black;*/
}

.maze {
    color: hsl(248, 76%, 80%);
    grid-area: content;
}

.cell,
.active {
    transition: 0.5s;
}

.cell.active {
    color: lightgreen;
    animation: hightlight 3s infinite ease-in-out alternate;
    transform: translateY(-3px);
}

.cell.wall {
    cursor: pointer;
}

@keyframes hightlight {
    0% {
        color: hsl(148, 76%, 70%);
    }

    33% {
        color: hsl(148, 35%, 40%);
    }

    66% {
        color: hsl(148, 76%, 70%);
    }

    100% {
        color: hsl(148, 35%, 40%);
    }
}
